<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error - <%= error.status%></title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>

    <br>

    <a href="/"> Go home</a>
</body>
</html>
